.h-pink {
  background: linear-gradient(to right, #fe8dc6, #fed1c7);
}

.h-purple {
  background: linear-gradient(to right, #7f00ff, #e100ff);
}

.h-yellow {
  background: linear-gradient(to right, #fbb040, #f9ed32);
}

.h-bluegreen {
  background: linear-gradient(to right, #00a1ff, #00ff8f);
}

.h-hotpink {
  background: linear-gradient(to right, #ee2a7b, #ff7db8);
}

.h-purpleblue {
  background: linear-gradient(to right, #ff00d4, #00ddff);
}

.h-orange {
  background: linear-gradient(to right, #ef4136, #fbb040);
}

.h-darkblue {
  background: linear-gradient(to right, #2d388a, #00aeef);
}

.page-outer-container {
  /* border:1px red solid; */
  width: 100%;
  background-color: #f2f2f2;
  z-index: -4;
}

.page-container {
  /* border: 1px red solid; */
  min-width: 950px;
  width: 80%;
  max-width: 1202px;
  margin: auto;
  display: flex;
  background-color: white;
  z-index: -3;
  flex-direction: column;
  min-height: 150vh;
}

.user-page-header {
  /* background: linear-gradient(to right, rgb(71, 184, 222), lightgreen); */
  /* border: 1px red solid; */
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-container {
  /* border: 1px red solid; */
  min-width: 950px;
  width: 80%;
  max-width: 1000px;
  height: 15rem;
  z-index: 0;
  position: absolute;
}

.user-page-header-image {
  width: 100%;
  height: 100%;
}

.user-page-profile-header-info-container {
  /* border: 1px red solid; */
  width: 90%;
  height: 80%;
  display: flex;
  z-index: 3;
}

.user-page-profile-header-info-left {
  /* border: 1px red solid; */
  width: 23%;
}

.user-prof-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-page-profile-header-name-details-container {
  /* border: 1px red solid; */
  padding-left: 1.5rem;
  width: 50%;
  object-fit: cover;
}

.user-page-profile-header-name-details-inner-container {
  width: fit-content;
}

.user-page-profile-header-text {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 0.3rem;
  margin-bottom: 0.35rem;
}

.user-page-profile-header-subtext {
  color: #cccccc;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 0.3rem;
  margin: 0.15rem 0;
}

.user-page-header-upload-container {
  width: 20%;
  position: relative;
  /* border: 1px red solid; */
}

.header-pic-file-label {
  position: absolute;
  top: 15px;
  /* bottom: 25px; */
  /* left: 63px; */
  border-radius: 2px;
  padding: 3px 4px 3px;
  font-size: 14px;
  display: flex;
  text-align: center;
  width: 165px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.85);
}

.header-pic-file-label:hover {
  cursor: pointer;
  opacity: .95;
}

.user-page-nav-body-container {
  width: 95%;
  /* border: 1px red solid; */
  margin: 0 auto;
  /* min-height:100vh; */
}

.user-page-nav-container {
  /* border: 1px red solid; */
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-page-nav-links {
  text-align: none;
  color: #333333;
  font-size: 1.15rem;
  padding: 1rem;
  font-weight: 600;
}

.user-page-body-container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.left-user-page-body-container {
  width: 70%;
  /* border: 1px red solid; */
  padding-right: 25px
}

.right-user-page-body-container {
  width: 30%;
  /* border: 1px red solid; */
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  padding-left: 25px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-user-page-body-inner-container {
  width: 99%;
  min-height: 100vh;
  /* border: 1px red solid; */
}

.edit-user-profile-button {
  margin-bottom: 0.45rem;
}

.right-user-page-body-track-count {
  color: #999999;
}

.right-user-page-body-track {
  font-size: 0.85rem;
}

.right-user-page-body-track-count {
  font-size: 1.4rem;
}

.right-user-page-body-user-bio-container {
  padding: 1rem 0;
}
