.song-comment-wrapper {
    padding: 0;
    /* border: 1px solid yellow; */
    /* padding-top: 5px; */
}

.song-comments-header {
    padding: 7px 0;
}

.song-comments-length {
    margin-top: 2.5px;
}
