/* * {
  font-family: Interstate, 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Garuda ,Verdana,Tahoma,sans-serif;

} */

.asl-header {
  display: flex;
  flex-direction: column;
  /* margin: 0 20px; */
  padding: 20px 0;
  height: 131px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  /* align-items: flex-start; */
  border-bottom: 1px solid rgb(0, 0, 0, 0.06);
  z-index: 10;

}

.asl-image-title-container {
  display: flex;
  /* border: 1px solid red; */
  width: fit-content;
  height: 110px;
  margin: 0 20px;
}

.asl-song-image {
  width: 105px;
  height: 105px;
}

/* .asl-title-container {
    border: 1px solid red;

} */

.asl-title {
  /* border: 1px solid red; */
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
  margin-left: 25px;
  width: fit-content;
  color: black;
  /* font-family: 'Highway'; */
}

.asl-tab-container {
  width: 100%;
  margin: 0 20px;
}

.asl-tab-title {
  border-bottom: 2px solid #ff5500;
  width: fit-content;
  /* margin-left: 0; */
  color: #ff5500;
  font-weight: 500;
}

.asl-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  /* justify-content: space-evenly; */
  margin: 0 10px;
  z-index: -10;

}

.song-likes-user-prof-container {
  display: flex;
  flex-direction: column;
  margin: 13px;
  justify-content: center;
  align-items: space-around;
}

.asl-user-pic {
  width: 136px;
  height: 136px;
  /* border-radius: 50%; */
  /* border: 1px solid red; */
}

.asl-user-image {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  /* border: 1px solid red; */
  object-fit: cover;
}

.asl-user-display-name {
  text-align: center;
  /* font-size: 14px; */
}

.asl-display-name {
  font-size: 16px;
  color: black;
  font-weight: 300;
}
