.profile-dropdown {
    position: absolute;
}

.hidden {
    display: none;
}

.nav-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.78);
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    font-weight: 100;
    height: 42px;
    width: 100%;
    margin-bottom: 30px;
}

body {
    overflow: scroll;
    margin: 0;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.home-link {
    text-decoration: none;
    color: #ccc;
}

.header-left {
    display: flex;
    padding: 12px 28px;
    border-right: 1px solid #111;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #111;
}

.upload-prof-pic {
    display: flex;
    align-items: center;
}

.upload-button-container {
    margin: 0px;
    padding: 12px 28px;
}

.upload-button-container:active {
    background: #111;
}

.upload-button {
    color: #ccc;
    text-decoration: none;
}

.profile-pic-button {
    background-color: transparent;
    border: none;
    padding: 0
}

i.fas.fa-user-circle {
    background-color: transparent;
    size: 20px;
}
.profile-button-container {
    margin: 0px;
    padding: 12px 28px;
}

.profile-button-container:active {
    background-color: #111;
}
