.profile-dropdown {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  list-style: none;
  border: solid 1px #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: auto;
  /* width: 100px; */
  padding: 7px;
  align-items: flex-start;
  position: absolute;
}

ul.profile-dropdown {
  /* border: none; */
  background-color: white;
  /* margin-left: -80px; */
  /* border: 1px solid red; */
  border-bottom: solid 1px rgba(0, 0, 0, 0.25);
  border-right: solid 1px rgba(0, 0, 0, 0.25);
  border-left: solid 1px rgba(0, 0, 0, 0.25);
  border-top: none;
  /* padding: 3px; */
  /* padding-right: 0px; */
  width: 87px;
  /* width: 112.5px; */
  /* position: relative; */
  margin: 0;
  /* align-items: flex-end; */
  /* margin-left: 87px; */
  /* right: 0; */
  /* top: -103px; */
}

.profile-dropdown.logged-out {
  /* margin-left: -70px;
  margin-top: -7px; */
  /* width: 220px; */
  position: absolute;
  top: 0px;
  right: -1px;
  width: 65.7px;
}

.profile-dropdown.loggedOut {
  width: 65.7px;
}


.profile-dropdown.logged-out>button {
  border: none;
  background-color: white;
  padding: 5px 0;
}

.profile-dropdown-link,
.profile-dropdown-username,
.profile-dropdown-email,
.profile-dropdown-logout {
  /* margin-left: -25px; */
  font-weight: 600;
  font-size: 11.5px;

}

.profile-dropdown-link {
  margin-bottom: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.profile-dropdown-logout {
  padding: 3px 0px;
}

.drop-user-pic {
  height: 12px;
  width: 13px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 0.5px;
}

#dropdown-heart {
  margin-bottom: 4px;
  margin-left: 1.5px;
}

.drop-tracks {
  height: 11px;
  width: 11px;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-left: 2px;
}

.fa-right-from-bracket {
  margin-left: 2px;
  margin-right: 5.5px;
}

a.link {
  margin: 5px;
}

.profile-dropdown-logout {
  margin: 5px;
}

.drop-user-pic:hover,
.drop-tracks:hover {
  color: #ff5500;
  cursor: pointer;
}

/* .profile-dropdown-link:hover, */
.profile-dropdown-logout:hover,
.profile-dropdown.logged-out>button:hover {
  /* margin-top: 0; */
  color: #ff5500;
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333333;
  /* font-family: Interstate, Lucida Grande, Arial, sans-serif; */
  font-weight: 100;
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
}

body {
  overflow: scroll;
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 950px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 40px;
  justify-content: space-between;
  position: sticky;
  /* border:1px solid red; */
  border-left: 1px solid #111;
  border-right: 1px solid #111;

}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  padding: 0 28px;
  height: 40px;
}

.fa-soundcloud {
  color: white;
}


.nav-bar-button-container {
  border-left: 1px solid #111;
  border-right: 1px solid #111;
  height: 100%;
  display: flex;
  align-items: center;
  /* border:1px solid red; */
}

.nav-bar-nav-link {
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
  /* width: 70px; */
  max-width: fit-content;
  height: 40px;
  /* border:1px solid red; */
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}


.nav-bar-nav-link.active,
.nav-bar-prof-button-active,
.prof-active {
  background-color: #111111;
  color: white;
}

#nav-display-name {
  margin: 0;
  padding-left: 4px;
  font-size: .85rem;
  /* width: fit-content; */
}

.upload-button {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.header-left {
  display: flex;
  align-items: center;
  height: 40px;
}

.home-tab {
  margin: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  border-left: 1px solid #111;
  padding-right: 28px;
  border-right: 1px solid #111;
}

.dropdown-container {
  color: #111;
  position: absolute;
}


.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 40px;
}

.upload-prof-pic {
  display: flex;
  align-items: center;
  height: 40px;
  /* border:4px solid purple; */
}

.prof-pic-and-displayName {
  display: flex;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 14px;
}

.navbar-display-name {
  margin-left: 7px;
  margin-bottom: 2px;
}

.profile-pic-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

i.fas.fa-user-circle {
  background-color: transparent;
  size: 20px;
}

.fas.fa-user-circle:hover {
  cursor: pointer;
}

.profile-button-container {
  position: relative;
}

.prof-butt-cont-loggedOut {
  margin-right: 28px;
  padding: 11px 28px;
}
