.upload-page-form-container {
    /* border: 1px solid red; */
    margin: 50px 80px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 0 0 3px #cccccc6a;
}

.up-song-image-container {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    position: relative;
    margin-top: 17px;
}

img.up-song-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    position: absolute;
}

.up-song-img-label {
    /* left: 0px; */
    position: absolute;
    bottom: 15px;
    left: 68px;
    border-radius: 2px;
    padding: 3px 4px 2px;
    font-size: 14px;
    display: flex;
    text-align: center;
    width: 115px;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.up-song-img-label:hover {
    cursor: pointer;
}

.tab-container {
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px 40px 0;

}

.basic-info-tab {
    border-bottom: 2px solid #f50;
    width: fit-content;
    color: #f50;
    font-weight: 500;
    margin-bottom: 0;
}

.form-container {
    /* position: relative; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.input-item.select {
    width: 100%;
    height: 35px;
}

.input-item.text-area {
    padding-top: 8px;
    height: 50px;
}

.up-buttons {
    position: static;
    border-top: 1px solid rgb(240, 240, 240);
    height: 30px;
    margin-top: 60px;
    width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    right: 100px;
    padding-right: 40px;

}

a#modal-btns.edit-user-page-button.cancel {
    /* position: absolute;
    right: 40px;
    bottom: 20px; */
    display: flex;
    align-items: center;
    /* border: 1px solid red; */


}


body {
    font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
        Verdana, Tahoma, sans-serif;
    color: #333;
}

/*
.label-description {
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .song-input-field {
    position: relative;
    width: 100%;
    font-weight: 100%;
    font-size: 14px;
} */
