.song-item-container {
  /* border: 1px blue solid; */
  display: flex;
  margin: 40px 5px;
  height: 160px;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
}

.song-image-container {
  /* border:1px red solid; */
  height: 160px;
  min-width: 163px;
  margin-right: 5px;
}

.song-image {
  /* border:1px red solid; */
  height: 100%;
  width: 163px;
  object-fit: cover;
  /* margin-right: 15px; */
}

.right-item-info-container {
  /* border:1px red solid; */
  width: 70%;
}

.play-displayName-title {
  /* border:1px orange solid; */
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 0;
  height: 50px;
  /* margin-top: 30px; */
  /* border: 1px solid red; */
}

.play {
  display: inline-block;
  width: 37px;
  height: 37px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
  /* border: 1px solid black; */
}

.play-button-image {
  width: 42px;
  height: 42px;
  margin-left: -2px;
  margin-top: -2px;
  object-fit: cover;
  opacity: 0.87;
}

.play-button-image:hover {
  opacity: 1;
  cursor: pointer;
}

/* .displayName-title > p {
    margin: 0;
} */

.displayName-title {
  margin-left: 0.5rem;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  max-height: 50px;
  line-height: 15px;
  /* border: 1px solid red; */
}

.displayName-link.link {
  margin-bottom: 0;
}

.displayName,
.displayName.link {
  margin: 0;
  font-size: 13px;
  opacity: 0.5;
  width: fit-content;
  /* margin-bottom: 0; */
  /* font-weight: 400; */
}

.artist-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  padding: 0;
  /* border: 1px solid blue; */
}

.link,
.link:visited {
  color: inherit;
}

.bottom-right-container {
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 30px;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 135.04px;
}

.like-button-container,
.comment-link {
  /* border: 1px red solid; */
  display: flex;
  height: 25px;
  width: 40px;
}

/* .comment-link {
    padding-bottom: 2px;
} */

.like-button-container {
  display: flex;
  align-items: center;
}

.song-like-count {
  font-size: 11px;
  margin-top: 2.3px;
}

.like-button,
.delete-song-button,
div.edit-song-button > button {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: fit-content;
  padding: 5px 5px;
  background: none;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  align-items: center;
  font-weight: 100;
  margin-right: 5px;
}

.song-item-container:hover .delete-song-button,
.song-item-container:hover div.edit-song-button > button {
  opacity: 1;
}

.delete-song-button.s,
div.edit-song-button > button.s {
  opacity: 0;
}

.delete-song-button:hover,
div.edit-song-button > button.s:hover,
.like-button:hover {
  cursor: pointer;
  border: 1px solid rgb(170, 170, 170);
}

.liked {
  color: #ff5500;
}

.liked:focus,
.liked:hover {
  border-color: #ff5500;
}

/* .like-button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(242,242,242);
} */

.fa-solid.fa-heart {
  font-size: 11px;
  margin-right: 6px;
}

.comment-box-container {
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.comment-box-container:hover,
.displayName:hover {
  opacity: 0.8;
}

.comment-box {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  padding-bottom: 1px;
}

.comment-count {
  margin-top: 4px;
}

a {
  text-decoration: none;
}
