.user-comment-individual-item-container{
    /* border:1px red solid; */
    margin: .75rem 0;
    position: relative;
}

.user-comment-item-song-title-date-container {
    /* border:1px red solid; */
    display:flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.user-edit-delete-container:hover {
    opacity: 1;

}
.user-comment-on-song-title,.user-comment-created-at{
    color:#999999;
}

.user-edit-delete-container{
 display:flex;
 width:100%;
 justify-content:flex-end;
 position: absolute;
 bottom: 0;
 opacity: 0;

}
.user-comment-item-body {
    width: fit-content;
    margin: 0;
}
